.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20%;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  max-height: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-titl{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

html, body {
  margin: 0;
  padding: 0;
}

.HomeColor{
  background-color: #f2ece7 ;
  padding: 0px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Here is the Home Heading Seaction*/
.Header{
  margin: 0px 80px 0px 0px;
  width:100%
}

.Nevgbar{
  display: flex;
  align-items: center;
}
.NevgbarWordsButton{
  margin-left: auto;   /* <--- pushes this group (and everything after it) to the right */
  display: flex;
  gap: 12px;           /* spacing between each nav button */
  align-items: center;
}


.HearderSearchButton{
  
  background-color: rgba(255, 255, 255, 0); /* 👈 0.3 = 30% opaque */
  border: 1px solid rgba(255, 255, 255, 0); /* optional border */
  border-radius: 0px;
  font-weight: bold;
  font-size: 15pt;
  backdrop-filter: blur(1px); /* optional: adds frosted glass effect */
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-right: 33.9px;
  padding-left: 22.9px;
}


.NevgbarWordsButton button{
  background-color: rgba(255, 255, 255, 0); /* 👈 0.3 = 30% opaque */
  border: 1px solid rgba(255, 255, 255, 0); /* optional border */
  border-radius: 0px;
  padding: 0px 27.1px 0px 0px;
  font-family: 'Playfair Display', serif;
  font-size: 18pt;
  color: #873122;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.HomeHeader{
  .anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  }
  font-size: 25px;
  width: 95px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #873122;
  
  padding: 7px 0px 0px 0px;
  margin: 29.5px 0px 29.5px 61px;
}

.HeaderImgContainer{
  width: 100%;
  position: relative;
  margin: 0px 0 50px 0;
}

.HeaderImg{
  width: 100%;
  height: 820px;
  display: block; /* Removes whitespace below the image */
  max-width: 100%;
}

.HeaderImgTopText {
  position: absolute;
  top: 10%; 
  left: 5%;
  color: #ffffff;
}
.HeaderImgTopText h2{
  font-family: "Anton", sans-serif;
  font-size: 3em;
}

.HeaderImg2 {
  position: absolute;
  top: 6%; 
  left: 66%;

}


.HeaderImgMainText {
  position: absolute;
  top: 20%; /* adjust as needed */
  left: 5%;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.HomeHeaderOverlayText{
  font-family: "Anton", sans-serif;
  font-size: 6em;
}

.HomeHeaderOverlayText2{
  font-family: 'Playfair Display', serif;
  font-size: 3em;
}

.HeaderImgButton{
  position: absolute;
  
  top: 80%; 
  left: 5%;

}

.DiscoverMoreText{
  background-color: #f2ece7; /* 👈 0.3 = 30% opaque */
  border: 1px solid rgba(255, 255, 255, 0); /* optional border */
  border-radius: 25pt;
  padding: 0px 50px 0px 50px;
  margin: 0px 10px 10px 0px;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  
  color: #8e3d2a;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.DiscoverMoreImg{
  background-color: rgba(255, 255, 255, 0); /* 👈 0.3 = 30% opaque */
  border: 1px solid rgba(255, 255, 255, 0); /* optional border */
  cursor: pointer;
  position: absolute;
  
  top: 80%; 
  left: 28%;

  transition: background-color 0.3s ease;
}

/*******************************************************************************/



.HomeCardRow{
  display: flex;
  justify-content: space-evenly; /* space between, edges stick to sides */
  flex-wrap: wrap;
  margin: 0px 0px 80px 0px;
}

.HomeCard{
  
  border-radius: 20px;
  box-shadow: 8px 8px 8px hsl(0, 0%, 0%, 0.1);
  background-color: hsl(0, 0%, 0%, 0.1);
  text-align: center;
  
  margin: 10px;
  padding: 0px;
  display: inline-block;

}

.HomeCardButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.HomeCardImg:hover {
  transform: scale(1.03);
}
.HomeCard .HomeCardImg{
  
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  transition: transform 0.2s ease;
}




.TASection {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.TASectionCard {
  position: relative;
  width: 90%;
  max-width: 10000px;
  
  padding: 40px 30px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  box-shadow: 8px 8px 8px hsl(0, 0%, 0%, 0.2);
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TASectionTitle {
  font-size: 58pt;
  font-family: "Anton", sans-serif;
  margin-bottom: 10px;
}

.TASectionSubtitle {
  font-size: 35pt;
  font-family: "Anton", sans-serif;
  margin: 0px 0px 80px 0px;
}

.TASectionDescriptionContainer {
  
  width: 1600px;
  justify-content: center;
  text-align: center;
  margin: 60px 0px 0px 0px;
}

.TASectionDescription {
  font-size: 25pt;
  max-width: 1600px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.TASectionButtonContainer {
  display: flex;
  justify-content: center;
  width: 1600px;
  margin: 70px 0px 0px 0px;
}

.TASectionButton {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3); /* 👈 0.3 = 30% opaque */
  border: 1px solid rgba(255, 255, 255, 0.5); /* optional border */
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  backdrop-filter: blur(1px); /* optional: adds frosted glass effect */
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.TASectionButton:hover {
  background-color: #ddd;
}

.searchButtonContainer {
 position: absolute;
 top: 30px;
 right: 90px;
 z-index: 1000;
}

.search-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}











.HomeGridCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 300px;
  gap: 20px 50px;
  padding: 120px;
  justify-content: center;
  border: none;
}

.HomeGridCard1 {
  grid-row: span 2; 
  border: none;
}

.HomeGridCard2 {
  grid-column: 2/4;
  grid-row: 1 / 2;
  border: none;
}

.HomeGridCard3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: none;
}

.HomeGridCard4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border: none;
}

.HomeGridSectionCard {
  position: relative;
  
  text-align: left;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  padding: 30px;
  overflow: hidden;
  z-index: 0;
}

.HomeGridSectionCard::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Control transparency here */
  z-index: -1;
  filter: brightness(0.9);
}

.HomeGridSectionCard::before {
  background-image: var(--bg-img);
}

.HomeGridSectionCard:hover::before {
  opacity: 0.6;
  filter: brightness(1);
  transition: all 0.3s ease;
}

.HomeGridSectionTitle {
  font-size: 3.5rem; 
  font-family: "Anton", sans-serif;
  color: white;

  
}

.HomeGridSectionDescription {
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  color: white;
 
}

.HomeGridCard1 .HomeGridSectionTitle {
  color: #873122; 
}

.HomeGridCard2 .HomeGridSectionTitle {
  color: #735e59;
}

.HomeGridCard3 .HomeGridSectionTitle {
  color: #f2ece7;
  font-size: 2.5rem;
}

.HomeGridCard4 .HomeGridSectionTitle {
  color: #f2ece7;
  font-size: 2.5rem;
}

.HomeGridCard1 .HomeGridSectionDescription {
  color: #873122; 
}

.HomeGridCard2 .HomeGridSectionDescription {
  color: #735e59;
}

.HomeGridCard3 .HomeGridSectionDescription {
  color: #f2ece7;
}

.HomeGridCard4 .HomeGridSectionDescription {
  color: #f2ece7;
}


.search-page {
  padding: 20px;
}

.search-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Search Page Styles */
.search-page-container {
  padding: 82px 105px;
  max-width: 1440px;
  margin: 0 auto;
}

.search-header {
  margin-bottom: 88.5px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.back-button {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}

.search-title {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}

.search-bar-container {
  display: flex;
  margin-bottom: 43.5px;
  gap: 20.5px;
}

.search-input {
  flex: 1;
  padding: 13.31px 14.33px;
  border: 1px solid #ccc;
  border-radius: 2.45px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}

.search-button {
  padding: 13.31px 37.5px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 2.45px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

.tags-section {
  margin-bottom: 70px;
}

.tags-title {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20.5px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20.5px;
}

.tag {
  padding: 10px 20px;
  background-color: rgba(187, 53, 12, 0);
  border: 1px solid rgba(190, 122, 32, 0.884);
  border-radius: 51px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  transition: all 0.3s ease;
}

.tag.selected {
  background-color: #c18342;
  color: white;
}

/* Make sure to import Playfair Display font in your project */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');


/* Daily Artwork Seaction CSS */

.DailyArtwork #DailyArtworkTitile{
  font-family: "Anton", serif;
  font-size: 5.5vw;
  color: #3c3533;
  padding: 43px 0 30px 160px;
}

.DailyArtwork{
  background-image: url("../src/assets/TodayArtworkBig.png");
  background-size: cover;
  height: 30vw;

}

.DailyArtworkPageSeaction {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: auto;
  background-color: #d3c6b8;
  gap: 1.5vw;
  padding: 2vw;
  border-radius: 2.5vw;
  margin: 5vw auto;
  margin-top: 0;
  max-width: 1200px;
  box-sizing: border-box;
}

/* Image Styling */
#DailyArtworkImg {
  border-radius: 1.5vw;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

/* Title Styling */
#DailyArtworkTitle {
  font-family: 'Playfair Display', serif;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: #7d3124;
  padding: 0 0 1vw 0;
}

/* Author and Location */
#DailyArtworkAuthor,
#DailyArtworkLoaction {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #000;
  padding-top: 0.3vw;
}

/* Location Bottom Padding */
#DailyArtworkLoaction {
  padding-bottom: 2vw;
}

/* Horizontal Line */
#DailyArtworkLine {
  width: 100%;
  border: none;
  border-top: 1px solid #000;
}

/* Tags Section */
.TagsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75vw;
  margin-top: 0;
  grid-column: 1/2;
  grid-row: 3/4;
}

/* Individual Tag */
.TagButton {
  background-color: #d3c6b8;
  border: 1.5px solid #999;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 16px;
  margin: 0px 12px 12px 0;
  font-family: "Playfair Display", serif;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.TagButton:hover {
  background-color: #c4b4a5;
  color: #000;
  border-color: #333;
}

/* Subtitle Block */
.SubSeaction {
  background-color: #e9dbdb;
  border-radius: 1.5vw;
}

/* Subtitle Text */
#DailyArtworkSubtitle {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: #7d3124;
  padding: 2vw 0 1vw 2vw;
}

/* Subdescription Text */
#DailyArtworkSubdescription {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #0d0c0c;
  padding: 0 2vw 1.5vw 2vw;
  line-height: 28px;
}


.DailyArtworkParg {
  grid-row: span 2;
  padding: 0.2vw 2vw 1vw 2vw;
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  color: #111;
  line-height: 28px;
}




/* Article Page Seaction CSS */

.Article {
  position: relative;
  background-image: url("../src/assets/V1ArticlePageTitleImg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vw; 
}


.Article::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2); 
  z-index: 0;
}


.ArticleContent {
  position: relative;
  z-index: 1;
  margin: 0 363px;
  padding: 0 0; 
}

#ArticleTitile {
  font-family: "anton", serif;
  color: #f2ece7;
  font-size: 3.5vw;
  padding: 75px 75px 0 75px;
}



